<%- include('partials/header.ejs') %>
    <h1>Today weather is </h1>
    <% if(locals.date) {%>
        timezone
        <%= timezone %>
            <% date %>
                <p>Max Temperature</p>
                <%= dailyMaxTemperature ;%>
                    <p>Min Temperature</p>
                    <%= dailyMinTemperature %>
                        <p>Files like </p>
                        <%= temperature %>
                            <p>SunRise</p>
                            <%= dailySunRise.split("T").pop()%>
                                <br>SunSet
                                <%= dailySunSet.split("T").pop() %>
                                    <br>WeatherCode
                                    <%= hourlyWeatherCode.description %>
                                        <img src="<%= hourlyWeatherCode.image %>" alt="" style="height:100px">
                                        <br>UV MaxIndex
                                        <%= hourlyUvMaxIndex %>
                                            <br>PrecipitationProbability
                                            <%= hourlyPrecipitationProbability+"%" %>
                                                <br>WindSpeed
                                                <%= hourlyWindSpeed +"km"%>
                                                    <br>Is_day
                                                    <%= hourlyIs_day %>
                                                        <br>Visibility
                                                        <%=hourlyVisibility /1000+"km" %>
                                                            <% } %>
                                                                <%- include('partials/footer.ejs') %>
                                                                <!-- mohammed -->